<div class="container">
    <div class="row justify-content-center">
        <h2 class="mt-4 text-light">Contactanos</h2>
        <div class="col-md-10 ml-4 mt-4">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="fname">Nombre</label>
                            <input [(ngModel)]="info.nombre" type="text" id="fname" name="firstname" class="form-control" placeholder="Tu nombre..">
                        </div>
                        <div class="form-group">
                            <label for="tel">Telefono</label>
                            <input [(ngModel)]="info.tel" type="tel" id="tel" name="tel" class="form-control" placeholder="Tu telefono..">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electronico</label>
                            <input [(ngModel)]="info.email" type="email" id="email" name="email" class="form-control" placeholder="Tu Correo electronico..">
                        </div>
                        <div class="form-group">
                            <label for="subject">Comentario</label>
                            <textarea [(ngModel)]="info.coment" id="subject" name="subject" class="form-control" placeholder="Escribe algo.." style="height:76px"></textarea>
                        </div>
                
                        <input (click)="sendMessage()" class="btn btn-block btn-primary" type="submit" value="Enviar">
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>

