<div class="container mt-3" style="overflow: hidden;">
  <div class="row">
    <div class="col-sm-5">
      <img class="img-fluid mt-4" src="../../assets/img/UIHere.png" style="transform: scale(1.06);">
    </div>
    <!--<div class="my-4 ml-5" style="border-right: 2px solid white;"></div>-->
    <div class="col-sm-6 container mt-4 text-center">
      <div class="card bg-transparent text-white" 
          style="border: none;">
        <div class="card-body" style="font-size: 5vmin;">
          <h1 style="font-size: 9vmin;">Bienvenido!</h1>
          <p>
            Esta pagina fue creada para los amantes de las peliculas, con el fin de facilitarles 
            ver los trailers de aquellas peliculas que se estan estrenando y de aquellas peliculas 
            que ya lo han hecho. 
            Espero que te sirvan nuestros servicios.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
