<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container" id="hide" ng-app="paginationApp" ng-controller="paginationController">
    <div class="">
        <div class="row text-center justify-content-center">
            <div class="col-md-7 mt-4">
                <input class="form-control mr-sm-0 text-light" name="SearchPost" [(ngModel)]="SearchPost" style="background: #00000094; border: none;" type="search" id="searchBar" placeholder="Search" aria-label="Search">
            </div>
            <div>
                <div *ngFor="let trailer of trailersArr | search:SearchPost | paginate: { itemsPerPage: 6, currentPage: p } ; index as i" class="col-md-4" style="display: inline-block !important;">
                    <div class="card">
                        <div class="card-image">
                            <img class="card-img-top" src="{{ trailer.imgUrl }}" height="200">
                            <button (click)="onClick(trailer.url)" class="btn btn-light rounded-circle middle btn-lg pl-3">
                                <i class="fa fa-play text ml-1 mt-2 mb-2"></i> 
                            </button>
                        </div> 
                        <div id="klk" class="card-body">
                            <h5 class="card-title mb-4">{{ trailer.title }}</h5>
                            <span class="badge badge-danger mr-2" style="font-size: large;">{{trailer.genero}}</span>
                            <span class="badge badge-info" style="font-size: large;">{{ trailer.year }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <nav class="navbar justify-content-center" style="font-weight: bold; font-family: Roboto;">
        <pagination-controls class="pt-3 pr-5"
            autoHide="true"
            responsive="true"
            previousLabel=""
            nextLabel=""
            (pageChange)="p = $event"></pagination-controls>
    </nav>        
</div>