.navbar-nav .nav-item{
  font-size: 1.6rem;
  /*border: 1px solid #343a40;*/
}

.navbar img{
  margin-right: 2rem;
  width: 4rem;
}

.navbar{
  text-align: center;
}

.form-inline, .form-control{
  margin: auto;
}

input[type="search"]:focus{
  border: none;
}

@media (min-width: 992px){
  .bordered{
    float: none;
    border: none;
  }

  input[type="search"]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    color: white;
  }

  .btn-primary{
    background: #006ac7;
    border-color: #006ac7;
    box-shadow: inset 0 0 10px #003874, 0 0 3px #000000;
    
  }

  .btn-primary:focus{
    box-shadow: none !important;
    outline: 0;
  }

  .navbar-nav .nav-item{
    font-size: 1.6rem;
    border: none;
  }
}

.carousel-inner img {
  width: 50%;
}
