table{
    white-space: nowrap;
    border-radius: 5px;
}

table::-webkit-scrollbar-corner{
    background-color: transparent;
}

table::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}

table::-webkit-scrollbar-track{
    border-radius: 20px;
}

th{
    min-width: 66.5px;
}

td{
    max-width: 174px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}