<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container mb-5" id="hide">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card bg-dark mt-4 mb-4">
        <div class="card-body">
          <form action="/administrador">
            <div class="card-title pb-2">
              <h3 class="text-light float-left">Guarda un nuevo producto</h3> 
              <!--<input type="button" class="btn btn-danger float-right mr-2" 
                 id="btnEliminar" value="Eliminar">-->
            </div>
              <div class="input-group mt-5 mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-pencil" style="font-size: 17px"></i>
                  </div>
                </div>
                <input type="text" id="datepicker" [(ngModel)]="trailers.title"
                  placeholder="Titulo" class="form-control" name="title" required>
              </div>
              <div class="input-group mt-2 mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-film" style="font-size: 14px;"></i>
                  </div>
                </div>
                <!--<input type="number" min="1950" max="2021" [(ngModel)]="trailers.year"
                  placeholder="Ano" class="form-control" name="year" required>-->
                <select class="form-control" [(ngModel)]="trailers.genero" name="genero">
                  <option value="Selecciona el a&ntilde;o" selected>Selecciona el genero</option>
                  <option value="accion">accion</option>
                  <option value="accion">Drama</option>
                  <option value="accion">Terror</option>
                  <option value="accion">Ciencia Ficcion</option>
                  <option value="accion">Policiaco</option>
                  <option value="accion">Psicologico</option>
                </select>
              </div>
              <div class="input-group mt-2 mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-calendar" style="font-size: 16px;"></i>
                  </div>
                </div>
                <!--<input type="number" min="1950" max="2021" [(ngModel)]="trailers.year"
                  placeholder="Ano" class="form-control" name="year" required>-->
                <select class="form-control" [(ngModel)]="trailers.year" name="year">
                  <option value="Selecciona el a&ntilde;o" [selected]="true">Selecciona el a&ntilde;o</option>
                  <option *ngFor="let i of yearsArr" value="{{i}}">{{i}}</option>
                </select>
              </div>
              <div class="input-group mt-2 mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-link" style="font-size: 16px"></i>
                  </div>
                </div>
                <input type="url" class="form-control" [(ngModel)]="trailers.imgUrl"
                  placeholder="URL de la Imagen" name="urlImg" required>
              </div>
              <div class="input-group mt-2 mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-link" style="font-size: 16px"></i>
                  </div>
                </div>
                <input type="url" class="form-control" [(ngModel)]="trailers.url"
                  placeholder="URL del trailer" name="url" required>
              </div>
              <a  id="btnSubmit" routerLink="/administrador"
                  class="btn btn-primary btn-block float-right" (click)="saveTrailer()">Guardar</a>
          </form> 
        </div>
      </div>

    </div>
    


    <div class="col-md-8 mt-4">
      <input class="form-control mr-sm-0 text-light" name="SearchPost" [(ngModel)]="SearchPost" style="background: #00000094; border: none;" type="search" placeholder="Search" aria-label="Search">
    </div>
      <div class="col-md-8 mt-4">
        <table class="table table-striped table-dark">
          <thead class="bg-primary">
            <tr class="sticky-top">
              <th scope="col">ID</th>
              <th scope="col">Titulo</th>
              <th scope="col">A&ntilde;o</th>
              <th scope="col">URL de la imagen</th>
              <th scope="col">URL del trailer</th>
              <th scope="col">
                
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trailer of trailersArr | search:SearchPost">
              <td scope="row">
                <span class="badge">{{trailer.id}}</span>   
              </td>
              <td>{{trailer.title}}</td>
              <td>{{trailer.year}}</td>
              <td>{{trailer.imgUrl}}</td>    
              <td>{{trailer.url}}</td>
              <td>
                <a id="edit" href="/administrador/{{trailer.id}}" class="border-0 text-light mr-1" style="background: transparent;">
                  <i class="fa fa-edit fa-lg"></i>
                </a>
                <button id="drop" (click)="delete(trailer.id)" class="border-0" style="background: transparent;">
                  <i class="fa fa-trash fa-lg text-danger"></i>
                </button>
              </td>        
            </tr>
          </tbody>
        </table>
    </div>
    
  </div>
</div>