<div class="header" style="width: 100vw; height: 100vh;">
  <div style="display: flex; position: absolute; bottom: 0; justify-content: center; width: 100%;">
    <div class="mr-3">
      <img src="../../assets/img/UIHere.png">
    </div>
    <div class="video-player-container ml-3" > 
      <div class="go-back">Go Back</div>

      <section> 
        <img src="https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWFydmVsfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="...">
        <img src="https://images.unsplash.com/photo-1636572481914-a07d36917486?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fG1hcnZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="...">
        <img src="https://images.unsplash.com/photo-1640499900704-b00dd6a1103a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fG1hcnZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="...">
        <img src="https://images.unsplash.com/photo-1542623024-a797a755b8d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHxtYXJ2ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="...">
        <img src="https://images.unsplash.com/photo-1626209731723-4bf514fcdcd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTM3fHxtYXJ2ZWx8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="...">
      
        <iframe style="display: none;" src="https://www.youtube.com/embed/S_DOoKsDFOQ" title="YouTube video player" frameborder="0" allow="autoplay;" allowfullscreen></iframe>
      </section>
    </div>
    
  </div>

</div>



